  # Visualisation of Strong Association Rules

In [8]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [9]:
import seaborn as sns
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [10]:
def get_data(file):
    data = pd.read_csv(file)
    print(data.shape)
    return data

In [11]:
file = "strong_rules_tiktok.csv"
strong_rules_tiktok = get_data(file)
strong_rules_tiktok

(63, 11)

,Unnamed: 0,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,0,accountability,account,0.054945,0.076923,0.021978,0.400000,5.200000,0.017751,1.538462,0.854651
1,2,delete,account,0.043956,0.076923,0.027473,0.625000,8.125000,0.024091,2.461538,0.917241
2,12,send,account,0.032967,0.076923,0.021978,0.666667,8.666667,0.019442,2.769231,0.914773
3,16,customer,accountability,0.043956,0.054945,0.032967,0.750000,13.650000,0.030552,3.780220,0.969349
4,18,send,accountability,0.032967,0.054945,0.021978,0.666667,12.133333,0.020167,2.835165,0.948864
...,...,...,...,...,...,...,...,...,...,...,...
58,273,violate,report,0.054945,0.109890,0.027473,0.500000,4.550000,0.021435,1.780220,0.825581
59,275,scam,video,0.054945,0.241758,0.027473,0.500000,2.068182,0.014189,1.516484,0.546512
60,277,start,video,0.038462,0.241758,0.021978,0.571429,2.363636,0.012680,1.769231,0.600000
61,278,violate,video,0.054945,0.241758,0.032967,0.600000,2.481818,0.019684,1.895604,0.631783
62,281,work,video,0.038462,0.241758,0.027473,0.714286,2.954545,0.018174,2.653846,0.688000

## Sankey Visualisation of The Patterns in Tiktok Reviews

In [12]:
rules_tiktok_sankey = pd.DataFrame()
#rules_app_sankey['source']  = [','.join(set(map(str, fs))) for fs in strong_rules_tiktok['antecedents'] ]
#rules_app_sankey['target'] = [','.join(set(map(str, fs))) for fs in strong_rules_tiktok['consequents'] ]


rules_tiktok_sankey['source'] = strong_rules_tiktok.antecedents
rules_tiktok_sankey['target']  = strong_rules_tiktok.consequents
rules_tiktok_sankey

            source          target
0   accountability         account
1           delete         account
2             send         account
3         customer  accountability
4             send  accountability
..             ...             ...
58         violate          report
59            scam           video
60           start           video
61         violate           video
62            work           video

[63 rows x 2 columns]

In [13]:
#strong_rules_tiktok = strong_rules_tiktok.reset_index(drop=True)
rules_tiktok_sankey['weight'] = strong_rules_tiktok['lift']
rules_tiktok_sankey

            source          target     weight
0   accountability         account   5.200000
1           delete         account   8.125000
2             send         account   8.666667
3         customer  accountability  13.650000
4             send  accountability  12.133333
..             ...             ...        ...
58         violate          report   4.550000
59            scam           video   2.068182
60           start           video   2.363636
61         violate           video   2.481818
62            work           video   2.954545

[63 rows x 3 columns]

In [14]:
# Load d3blocks
from d3blocks import D3Blocks
# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example('energy')

# Input parameters.
d3.sankey(rules_tiktok_sankey,
          title='Sankey - d3blocks',
          filepath='sankey.html',
          figsize=(1000, 750),
          node={"align": "justify", "width": 15, "padding": 15, "color": "currentColor"},
          link={"color": "source-target", "stroke_opacity": 0.5},
          margin={"top": 5, "right": 1, "bottom": 5, "left": 1},
          showfig=True,
          overwrite=True)
#

#
# Node properties
d3.set_node_properties(rules_tiktok_sankey)
#print(d3.node_properties)
#
d3.set_edge_properties(rules_tiktok_sankey, color='target', opacity='target')
#print(d3.edge_properties)
#
# Show the chart
d3.show()

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]
[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Initializing [Sankey]
[d3blocks] >INFO> filepath is set to [/var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html]
[d3blocks] >INFO> Convert to Frame.
[d3blocks] >INFO> Node properties are set.
[d3blocks] >INFO> Edge properties are set.
[d3blocks] >INFO> File already exists and will be overwritten: [/var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html]
[d3blocks] >INFO> File not found: [file:////var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html]
[d3blocks] >INFO> Open browser: file:////var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html
[d3blocks] >INFO> Convert to Frame.
[d3blocks] >INFO> Node properties are set.
[d3blocks] >INFO> Edge properties are set.
[d3blocks] >INFO> File already exists and will be overwritten: [/var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html]
[d3blocks] >INFO> File not found: [file:////var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html]
[d3blocks] >INFO> Open browser: file:////var/folders/z5/8gb5zsq90kz9zvv3q5_7tkhw0000gn/T/d3blocks/sankey.html